.cardContainer {
  width: 100%;
  height: 100%;
}

.cardArea {
  height: 100%;
}

.cardContent {
  padding: calc(2px + 2vmin) !important;
}

.cardTitle {
  font-size: calc(2px + 2vmin) !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ratingStarts {
  font-size: calc(2.3px + 2.3vmin) !important;
}

.ratingBy {
  font-size: calc(1.8px + 1.8vmin) !important;
  display: flex;
  align-items: center;
  margin: 0 calc(1px + 1.3vmin) !important;
}
