.pageContainer {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  height: calc(7.5px + 7.5vmin);
  padding: calc(1px + 1vmin);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 1px 5px rgb(192, 192, 192) !important;
  z-index: 1;
}

.iconButton {
  width: calc(5px + 5vmin) !important;
  height: calc(5px + 5vmin) !important;
  font-size: calc(2px + 2vmin) !important;
  margin: 0 calc(0.5px + 0.5vmin) !important;
}

.filterMenuItem {
  padding: calc(0.5px + 0.5vmin) calc(1px + 1vmin) !important;
  width: calc(20px + 20vmin);
}

.pageBody {
  position: absolute;
  top: calc(7.5px + 7.5vmin);
  left: 0;
  bottom: calc(6px + 6vmin);
  padding: calc(1px + 1vmin);
  background-color: rgb(221, 216, 216);
}

.pageCardsDisplay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: auto;
}

.watchListContainer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  background-color: white;
  width: 100%;
}

.dropContainer {
  position: absolute;
  top: 0;
  left: 0;
  height: calc(20px + 20vmin);
}
.dropArea {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  border-radius: 5px;
  font-size: calc(2px + 2vmin);
}

.watchListBody {
  position: absolute;
  top: calc(20px + 20vmin);
  left: 0;
  bottom: 0;
  overflow: auto;
}

.watchListCardContainer {
  position: relative;
}

.watchListCardCover {
  position: absolute;
  height: calc(6px + 6vmin);
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding: calc(1px + 1vmin) calc(3px + 3vmin) !important;
}

.footer {
  position: absolute;
  height: calc(6px + 6vmin);
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px -2px 5px rgb(192, 192, 192);
}

.spinner {
  width: calc(10px + 10vmin) !important;
  height: calc(10px + 10vmin) !important;
}
