.searchInputContainer {
  width: 75% !important;
  border-radius: 5px;
  background-color: rgb(230, 230, 230);
  box-shadow: 0 0 5px rgb(230, 230, 230);
}

.searchIconButton {
  height: calc(20px + 2vmin) !important;
  width: calc(20px + 2vmin) !important;
  margin: calc(1px + 0.5vmin) calc(2px + 1vmin) !important;
}

.searchIcon {
  font-size: calc(2.2px + 2.2vmin) !important;
}

.searchInput {
  width: 100% !important;
  height: 100% !important;
  outline: none !important;
  border: none !important;
  background-color: inherit;
  font-size: calc(2px + 2vmin);
}
.searchInputContainer:focus-within {
  background-color: white;
}
