.detailsPageContainer {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: auto;
}

.iconButton {
  width: calc(5px + 5vmin) !important;
  height: calc(5px + 5vmin) !important;
  font-size: calc(2px + 2vmin) !important;
  margin: 0 calc(0.5px + 0.5vmin) !important;
}

.detailsTitle {
  display: flex;
  justify-content: center;
  font-size: calc(3px + 3vmin) !important;
  font-weight: bold;
  text-decoration: underline;
}

.animVideoDisplay {
  height: calc(30px + 30vmin) !important;
  width: calc(50px + 50vmin) !important;
  font-weight: bold;
}

.detailsLabel {
  font-size: calc(2px + 2vmin);
  font-weight: bold;
  padding: calc(0.5px + 0.5vmin) calc(1px + 1vmin);
  display: flex;
  align-items: center;
}

.details {
  font-size: calc(2px + 2vmin) !important;
  display: flex;
  align-items: center;
  text-align: justify;
}
