body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-webkit-scrollbar {
  width: calc(1px + 1vmin) !important;
  height: calc(1px + 1vmin) !important;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(133, 128, 128);
  border-radius: 3px;
  /* mix-blend-mode: difference; */
}
